* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family:var(--fonte-texto);
}

.pagina-produto{
    max-width:1200px;
    margin:0 auto;
    padding:60px 40px;
}

.produto-detalhes{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:70px;
    align-items:center;
}

.produto-imagem{
    display:flex;
    justify-content:center;
}

.produto-imagem img{
    width:100%;
    max-width:500px;
    height:auto;
    border-radius:20px;
}

.produto-info{
    display:flex;
    flex-direction:column;
}

.categoria-produto{
    font-size:14px;
    font-weight:600;
    color:#176b2c;
    margin-bottom:10px;
}

.produto-info h1{
    font-size:38px;
    margin:0 0 15px;
}

.artesao{
    font-size:16px;
    color:#555;
}

.avaliacao{
    display:flex;
    align-items:center;
    gap:10px;
    margin:15px 0;
}

.estrelas{
    color:#e5a800;
    font-size:20px;
}

.preco{
    font-size:30px;
    font-weight:700;
    margin:20px 0;
}

/* DESCRIÇÃO PRODUTO */
.descricao-produto{
    margin-top:70px;
    padding-top:40px;
    border-top:1px solid #ddd;
}

.descricao-produto h2{
    font-size:26px;
    margin-bottom:18px;
    color:#333;
}

.descricao-produto p{
    max-width:850px;
    font-size:16px;
    line-height:1.8;
    color:#555;
}

/* INFORMAÇÕES DO PRODUTO */
.informacoes-produto{
    margin-top:50px;
    padding:30px;
    background:#f7efe5;
    border-radius:18px;
}

.informacoes-produto h2{
    font-size:24px;
    margin-bottom:25px;
    color:#333;
}

.dados-produto{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    gap:15px 40px;
}

.dados-produto p{
    margin:0;
    padding:15px;
    background:#fff;
    border-radius:10px;
    color:#555;
}

.dados-produto strong{
    color:#333;
}

/* QUANTIDADE PRODUTO */

.quantidade{
    display:flex;
    align-items:center;
    gap:15px;
    margin:10px 0 25px;
}

.quantidade > span:first-child{
    font-weight:600;
    margin-right:10px;
}

.quantidade button{
    width:35px;
    height:35px;
    border:1px solid #ccc;
    background:#fff;
    border-radius:8px;
    font-size:18px;
    cursor:pointer;
}

.quantidade button:hover{
    background:#f0f0f0;
}

.quantidade button + span{
    min-width:20px;
    text-align:center;
    font-weight:600;
}

/* SACOLA */
.btn-sacola{
    width:100%;
    max-width:400px;
    padding:15px 25px;
    border:none;
    border-radius:12px;
    background:#176b2c;
    color:#fff;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.btn-sacola:hover{
    background:#125622;
}

.btn-sacola i{
    margin-right:8px;
}