* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family:var(--fonte-texto);
}

.header{
width: 100%;
background: #f7efe5;
}

.topo-header{
display: flex;
align-items: center;
justify-content: space-between;
padding: 8px 40px;
gap: 30px;
}

.logo-site img{
width: 200px;
height: 110px;
object-fit: contain;
}

.pesquisa{
display: flex;
flex: 2;
max-width: 700px;
}

.pesquisa input{
width: 100%;
padding: 11px 18px;
border: none;
border-radius: 12px 0 0 12px;
font-size: 15px;
outline: none;
}

.btn-pesquisa{
width: 70px;
border: none;
background: #176b2c;
border-radius: 0 12px 12px 0;
cursor: pointer;
}

.acoes-header{
display: flex;
gap: 35px;
}

.acao-header{
text-align: center;
cursor: pointer;
}

/* .icone{ 
font-size: 32px;
display: block;
}*/

.acao-header i{
font-size:24px;
color:#176b2c;
}

.acao-header p{
margin: 5px 0 0;
font-size: 14px;
}

.menu-header{
display: flex;
justify-content: center;
gap: 20px;
padding: 8px;
background:#f7efe5;
position: sticky;
top: 0;
z-index: 1000;
box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
}

.menu-header a{
text-decoration: none;
color: #333;
font-size: 16px;
font-weight: 600;
padding: 10px 25px;
border-radius: 25px;
transition: .3s;
}

.menu-header a:hover{
background: #176b2c;
color: white;
}

.menu-header a.ativo{
background: #176b2c;
color: white;
}

.btn-pesquisa i{
font-size:20px;
color: white;
}
