@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Hand:wght@400..700&family=Jacques+Francois&family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Lora", sans-serif;
}

body{

    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#f8f0e5,#f2ddbd);
    padding:20px;
    background-image: url(/PastaDelogincomplet/img/imagenovaescur.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{

    width:1000px;
    max-width:95%;
    display:flex;
    background:#fff;
    border-radius:25px;
    overflow:hidden;
    box-shadow:0 15px 40px rgba(0,0,0,.15);

}

.left{

    width:45%;
    background:#fff5e8;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:50px;

}

.left img{

    width:260px;
    margin-bottom:30px;

}

.left h2{

    color:#2f6637;
    margin-bottom:10px;

}

.left p{

    color:#666;
    text-align:center;

}

.right{

    width:55%;
    padding:60px;

}

.right h1{

    font-size:45px;
    margin-bottom:10px;
    color:#222;

}

.right p{

    color:#666;
    margin-bottom:35px;

}

.input-box{

    display:flex;
    align-items:center;
    border:1px solid #ddd;
    border-radius:12px;
    margin-bottom:20px;

    padding:15px;

}

.input-box i{

    color:#2f6637;

    font-size:18px;

    margin-right:12px;

}

.input-box input{

    border:none;

    outline:none;

    width:100%;

    font-size:15px;

}

.options{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:25px;

    font-size:14px;

}

.options a{

    text-decoration:none;

    color:#e9632d;

    font-weight:500;

}

button{

    width:100%;

    background:#0b9442;

    color:#fff;

    border:none;

    border-radius:12px;

    padding:16px;

    font-size:18px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;

}


.mensagem-erro {
    display: block;
    color: #e53935;
    font-size: 13px;
    margin-top: 6px;
    margin-left: 5px;
    }

 .mensagem-sucesso {
    background: #e8f8ef;
    color: #087a43;
    border: 1px solid #a8dfc2;
    padding: 12px;
    border-radius: 8px;
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
       
}

button:disabled {
   opacity: 0.7;
   cursor: not-allowed;

}

.toggle-password {
    cursor: pointer;
    
}


button:hover{

    background:#087b36;

}

button i{

    margin-right:8px;

}

.divider{

    margin:35px 0;

    border-top:1px solid #ddd;

}

.register{

    text-align:center;

}

.register a{

    text-decoration:none;

    color:#e9632d;

    font-weight:600;

}

@media(max-width:900px){

.container{

flex-direction:column;

}

.left,
.right{

width:100%;

}

.left{

padding:40px;

}

.right{

padding:40px;

}

}

.password-box .toggle-password:hover {
    color: #008f4c;
}

@keyframes aparecer {

    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 2;
        transform: translateY(0);
    }

}